

#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1820px;
    height: 810px;
    transform: translate(-50%,-50%);
    border: 3px solid black;
    background-color: rgb(254, 255, 255);
}



/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative; /* Ensures the slider is positioned relative to this container */
    width: 90vw;
    height: 90vh;
}

.slider.vertical {
    -webkit-appearance: none;
    appearance: none;
    width: 820px; /* Adjust this to change the height of the slider */
    height: 8px;  /* Thickness of the vertical slider */
    transform: rotate(-90deg);
    transform-origin: 50% 50%; /* Adjusts the pivot point for rotation */
    position: absolute;
    top: 55%; /* Adjust the top position */
    left: 1.5%; /* Adjust the left position */
    transform: translate(-50%, -50%)
    rotate(-90deg); /* Centers the slider in the container */
}

.slider.vertical::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #777;
}

.slider.vertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #025bff;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px; /* Adjust the thumb's position */
}

.slider.vertical:focus {
    outline: none;
}

.slider.vertical:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


.slider.horizontal {
    -webkit-appearance: none;
    appearance: none;
    width: 1820px; /* Length of the horizontal slider */
    height: 8px;   /* Thickness of the horizontal slider */
    position: absolute;
    top: 107.5%;
    left: 2.95%;
    transform: translate(-50,-50);
}

.slider.horizontal::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #777;
}

.slider.horizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px; /* Adjust the thumb's position */
    background-color: #025bff;
}

.slider.horizontal:focus {
    outline: none;
}

.slider.horizontal:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.controls{
    font-family: sans-serif;
    position: absolute;
    z-index: 10;
    top: 2.3%;
    left: 50%;
    transform: translate(-50%,-50%);
}